.Buttons_13 {
	font-family: Segoe UI;
	font-size: 12px;
}

.default {
	font-family: Segoe UI;
	font-size: 12px;
}

.MonoScrn_12pt {
	font-family: Consolas;
	font-size: 12px;
}

.Scrn_10pt {
	font-family: Lucida Console;
	font-size: 10px;
}

